.App {
  font-family: sans-serif;
  color: #30A2FF;

  position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
  border: 0.5px solid rgb(48, 162, 255, .3);
  border-radius: 12px;
  height: auto;
  width: auto;
}